<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script>
  window.restaurants = {{{restaurants}}}
</script>

<a href="/create">Crear restaurante</a>
<div id="map" style="height:400px"></div>

<script src="/javascripts/home.js"></script>